

<body class="index-page bg-dark">
  <!-- Navbar -->
 
   <!-- End Navbar -->
<header>
  <div class="page-header min-vh-70" style="background-image: url('./assets/img/pg8.jpg');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-5"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
          <h1 class="text-white mb-4">INTERTOUR.VN</h1>
          <p class="text-white opacity-8 lead pe-5 me-5">Intertour tự hào là đội ngũ với hơn 12 năm kinh nghiệm điều hành tour.
            Chúng tôi đã đi qua 65 quốc gia, 270 thành phố và phục vụ hơn 120 đơn vị.</p>
          <div class="buttons">
            <button type="button" class="btn btn-white mt-4">Lịch tua</button>
            <button type="button" class="btn btn-outline-light text-white shadow mt-4">Tư vấn ngay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

  <div class="container-fluid py-0 mt-5">
    <h2 class="mb-4 text-primary">Chi Tiết Tour</h2>
    <div class="container py-0">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                <img src="./assets/img/{{detailPro.image}}" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="fw-bold mb-3">{{detailPro.name}}</h2>
                        <h3 class="fw-bold mb-3 text-danger">{{detailPro.price | number:0}}đ/N</h3>
                        <h6 class="fw-bold mb-3 text-info">Điểm nhấn hành trình:</h6>
                        <p class="mb-1">Tham gia tour Nhật Bản Tokyo - Yamanashi - Narita 5N4Đ, bạn sẽ có cơ hội thưởng lãm những địa điểm nổi bật như:</p>
                        <p class="mb-0"><i class="fa-solid fa-share"></i>&nbsp;Ngắm nhìn Núi Phú Sĩ – biểu tượng của đất nước Nhật Bản.</p>
                        <p class="mb-0"><i class="fa-solid fa-share"></i>&nbsp;Dạo quanh thành phố Odaiba để tận hưởng không khí về đêm và chụp hình cùng tượng Nữ thần Tự do ngay tại Nhật Bản.</p>
                        <p class="mb-4"><i class="fa-solid fa-share"></i>&nbsp;Viếng thăm Asakusa Kannon hay còn gọi là đền Sensoji - một trong những ngôi đền cổ nhất ở thủ đô Tokyo.</p>
                        <a href="#" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa-solid fa-plane"></i>&nbsp;&nbsp;Đặt Tour Ngay</a>
                    </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                    id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                    aria-controls="nav-about" aria-selected="true">Lịch Trình Tour</button>
                                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                    id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                    aria-controls="nav-mission" aria-selected="false">Đánh Giá</button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                              <h4>Ngày 1:TP.HCM – NARITA</h4>
                              20h00: Quý khách tập chung tại cột số 5, ga quốc tế, Sân bay quốc tế Tân Sơn Nhất. Trưởng đoàn Intertour hỗ trợ Quý khách làm thủ tục đáp chuyến bay đi Narita trên chuyến bay dự kiến Vietjet Air VJ822 lúc 23h40.
                               <img src="./assets/img/vietjet.jpg" class="img-fluid "alt="">
                             <br> <strong>Nghỉ đêm trên máy bay.</strong>
                              <h4>Ngày 2: TOKYO – YAMANASHI (Ăn sáng, trưa, tối)</h4>
                            <b>Sáng:</b>   Quý khách đến Narita, HDV sẽ đón Đoàn và hỗ trợ hoàn thiện thủ tục nhập cảnh.
                              <br>
                              Để nạp đầy năng lượng trước khi bắt đầu hành trình tour Nhật Bản 5 ngày 4 đêm với nhiều điều thú vị đang chờ đón, Đoàn sẽ dùng bữa sáng nhanh trên xe trong thời gian bác tài đưa Đoàn di chuyển đến Yamanashi.
<br>
<b>Trưa:</b> Quý khách dùng bữa trưa tại nhà hàng địa phương.
Sau khi đã ăn uống và nghỉ ngơi, Đoàn sẽ bắt đầu khởi động tour Nhật Bản Tokyo – Yamanashi – Narita 5N4Đ ngày đầu tiên tại các địa điểm tham quan như sau:
<br>
<i class="fa-solid fa-thumbtack"></i>  Du thuyền trên hồ Ashi: Là một trong các hồ nước ngọt lớn thuộc Phú Sĩ ngũ hồ, Ashi được hình thành cách đây 3.000 năm, bên trong miệng núi lửa sau sự phun trào của ngọn Hakone. Hồ nằm cạnh núi Phú Sĩ nên đã nhanh chóng trở thành một điểm đến hấp dẫn và thuận tiện ghé thăm dành cho khách đi tour Nhật Bản.
                             <img src="./assets/img/ho-ashi.jpg" class="img-fluid rounded"alt="">
<br><i class="fa-solid fa-thumbtack"></i> Tham quan thung lũng Owakudani: Nơi này luôn sôi động với sự xuất hiện của nhiều du khách vì nổi tiếng có món đặc sản trứng đen may mắn Kurotamag. Theo lời kể, ở thung lũng Owakudani có thần Jizo (Địa Tạng Bồ Tát) với tên gọi là “Enmei Jizo Bosatsu” – Người có sứ mệnh bảo vệ trẻ em và kéo dài tuổi thọ – được cho là do Kobo Daishi tạo ra vào thời Heian (794-1185). Tương truyền rằng, thần Jizo bảo khi ăn một quả trứng đen may mắn “Kurotamago”, bạn sẽ được gia tăng tuổi thọ thêm 7 năm nữa. (Chi phí mua trứng tự túc).
<img src="./assets/img/owakudani.jpg" class="img-fluid rounded"alt="">
<br><i class="fa-solid fa-thumbtack"></i>  Tham quan nhà vườn và hái trái cây: Trưởng đoàn sẽ đưa Quý khách đến những vườn trái cây tươi mát để refresh lại cơ thể sau một ngày dài vui chơi hết mình và thưởng thức các loại hoa quả theo mùa như: nho, dâu, anh đào, đào, mận, lê v.v…đặc biệt thơm ngọt và hoàn toàn sạch. Quý khách có thể tự tay hái trái chín mọng thơm ngọt từ trên cây và thoải mái thưởng thức ngay tại chỗ. Đây chắc chắn là một trải nghiệm đáng nhớ và khó quên.
<br>
<i class="fa-solid fa-thumbtack"></i>  Trải nghiệm tắm Onsen & mặc trang phục Yukata: Đây là một hình thức thư giãn đặc trưng trong văn hóa của người dân Nhật Bản, được gọi là ôn tuyền thủy liệu pháp, kết hợp giữa sự thư thái trong suối nước nóng Onsen và sự thoải mái khi mặc trang phục Yukata truyền thống. Đừng bỏ qua trải nghiệm quý giá này khi quý khách tham gia tour Nhật Bản 5 ngày 4 đêm cùng Intertour nhé!
<br>
<b>Tối:</b>  Quý khách ăn tối tại nhà hàng địa phương. Sau đó, Đoàn trở về khách sạn nhận phòng và nghỉ ngơi.
<br>
<b>Nghỉ đêm tại Yamanashi.</b> 
<h4>Ngày 3:YAMANASHI – KAWAGUCHIKO – TOKYO/YOKOHAMA (Ăn sáng, trưa, tối)</h4>
Sáng: Quý khách dùng bữa sáng tại khách sạn và làm thủ tục trả phòng.
<br>
Sau đó, Đoàn tiếp tục hành trình khám phá tour Nhật Bản Tokyo – Yamanashi – Narita 5N4Đ trên chuyến xe đến với Yamanashi – Kawaguchiko – Tokyo/Yokohama. Đây sẽ là một ngày tham quan đầy hứa hẹn dành cho những Quý khách đang mong chờ được khám phá tour Nhật Bản núi Phú Sĩ và các địa danh nổi tiếng quanh Yamanashi – Kawaguchiko, chi tiết như sau:
<br>
<i class="fa-solid fa-thumbtack"></i>   Tham quan núi Phú Sĩ (lên đến trạm 5 nếu thời tiết tốt) với độ cao 3776m. Núi Phú Sĩ là ngọn núi cao nhất ở Nhật Bản, có hình dáng như một tam giác cân hình chữ bát (số 8 八) được biết như biểu tượng của xứ sở hoa anh đào. Với sức hút vĩnh cữu, ngọn núi nổi tiếng nhất Nhật Bản này đã và đang tiếp tục là nguồn cảm hứng bất tận cho những nghệ sĩ, tác giả và khách du lịch. 
<img src="./assets/img/phusi.jpg" class="img-fluid rounded"alt="">
<br>
<i class="fa-solid fa-thumbtack"></i>    Tham quan làng văn hóa Oshino Hakkai – nơi được UNESCO công nhận là Di sản Văn hóa Thế giới. Nằm cạnh dưới chân núi Phú Sĩ, đây là một ngôi làng cổ với nét đẹp thanh bình và yên tĩnh, vẫn còn giữ được nét văn hóa truyền thống xưa, tạo nên một bức tranh tuyệt vời của sự hòa quyện giữa thiên nhiên và con người.
<img src="./assets/img/lang-van-hoa-oshino-hakkai.jpg" class="img-fluid rounded"alt="">
<br>
<b>Trưa: </b>Quý khách dùng bữa trưa tại nhà hàng địa phương.
<br>
Sau khi bữa trưa kết thúc, đoàn có thể tự do khám phá thêm.
<br>
Nếu chưa có ý tưởng tham quan nào thú vị, Intertour gợi ý Quý khách nên đến Gotemba Outlet để dạo chơi và mua sắm. Gotemba Outlet cung cấp một loạt các cửa hàng bán những thương hiệu nổi tiếng, là nơi lý tưởng để thỏa mãn niềm đam mê shopping của bất kì ai đi tour Nhật Bản 5 ngày 4 đêm.
<br>
Đến giờ tập chung, xe đưa Đoàn di chuyển về Tokyo/Yokohama.
<br>
<b>Tối:</b> Quý khách ăn tối tại nhà hàng địa phương. Sau đó, Đoàn về khách sạn nhận phòng nghỉ ngơi.
<br>
<b>Nghỉ đêm tại Tokyo/Yokohama.</b>
<h4>Ngày 4:THAM QUAN TOKYO – NARITA (Ăn sáng, trưa, tối)</h4>
<b>Sáng:</b> Quý khách dùng bữa sáng tại khách sạn và làm thủ tục trả phòng.
<br>
Xe đón đoàn tiếp tục hành trình khám phá xứ Phù Tang theo lịch trình tour Nhật Bản Tokyo – Yamanashi – Narita 5N4Đ ngày thứ 4 như sau:
<br>
<i class="fa-solid fa-thumbtack"></i>    Chùa Asakusa Kannon hay còn gọi là Sensō-ji – một ngôi chùa cổ kính nằm ở Asakusa, Tokyo, được xây dựng dành riêng cho việc thờ phụng Quan Thế Âm Bồ Tát. Có thể nói đây là một trong những điểm dừng chân nổi bật nhất trong hành trình khám phá tour Nhật Bản Tokyo – Yamanashi – Narita 5N4Đ bởi nơi đây không chỉ mang lại trải nghiệm không gian tâm linh mà còn là cơ hội để hiểu sâu hơn về văn hóa và lịch sử phong phú của Nhật Bản.
<br>
<img src="./assets/img/den-asakusa-kannon.jpg" class="img-fluid rounded"alt="">
<i class="fa-solid fa-thumbtack"></i>  Tháp truyền hình Tokyo Sky Tree (chụp hình từ công viên Sumida): là tháp truyền hình cao nhất thế giới nằm ở Sumida-ku, Tokyo với chiều cao lên đến 634m. Tháp có thiết kế đài quan sát Tokyo Sky Tree Tembo Deck và Tokyo Sky Tree Tembo Kairo với độ cao lần lượt là 350m và 450m so với mặt đất.
<br>
<b>Trưa:</b> Quý khách dùng bữa trưa tại nhà hàng địa phương với set menu Nhật. Sau đó, Đoàn sẽ tiếp tục hành trình tham quan:

<br><i class="fa-solid fa-thumbtack"></i>  Thỏa sức mua sắm tại khu Akihabara hoặc Ginza.
<br><i class="fa-solid fa-thumbtack"></i>  Tham quan hòn đảo nhân tạo Odaiba nằm bên vịnh Tokyo, kết nối với trung tâm qua cây cầu Rainbow. Quý khách sẽ thấy có một bản sao của tượng Nữ thần Tự do tại đây. Lý do cho sự khai sinh ra bản sao này là vì trước kia bức tượng gốc từng được người Pháp mang từ thủ đô Paris sang trưng bày tại một triển lãm ở Nhật Bản, rồi sau đó mang trở lại về nước. Nhờ tiếng vang từ sự kiện này, phiên bản tượng Nữ thần Tự do được dựng lên để thu hút du khách tham quan ở Nhật Bản sau khi bức tượng gốc được trao trả.
<br>
<img src="./assets/img/odaiba-vinh.jpg" class="img-fluid rounded"alt="">
<br>
<b>Tối:</b> Quý khách ăn tối tại nhà hàng địa phương. Sau bữa tối, Đoàn về khách sạn nhận phòng và nghỉ ngơi. Khép lại ngày tham quan cuối cùng trong tour Nhật Bản Tokyo – Yamanashi – Narita 5N4Đ.
<br>
<b>Nghỉ đêm tại Narita.</b>
                            </div>
                            <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                <div class="d-flex">
                                    <img src="./assets/img/nhat.webp" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;">04/3/2024</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>Nguyễn Phương Anh Duy</h5>
                                        </div>
                                        <p>Chuyến Đi Nhật Thật Tuyệt làm sao </p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <img src="./assets/img/thuysi.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;">17/3/2024</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>Phạm Huyền Trân</h5>
                                        </div>
                                        <p class="text-dark">Chyến đi rất vui mình mong muốn sẽ được một chuyến như vậy nữa </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-vision" role="tabpanel">
                                <p class="text-dark">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                    amet diam et eos labore. 3</p>
                                <p class="mb-0">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit</p>
                            </div>
                        </div>
                    </div>
                    <form action="#">
                        <h4 class="mb-5 fw-bold">Thông Tin Đặt Tour</h4>
                        <form role="form" id="contact-form" method="post" autocomplete="off">
                          <div class="card-body">
                            <div class="row">
                              <div class="col ">
                                  <div class="form-group">
                                      <label>Họ tên</label>
                                      <input class="form-control" ng-model="fullname">
                                  </div>
                                  <div class="form-group">
                                      <label>Địa chỉ</label>
                                      <input class="form-control" ng-model="address" ng-model-options="{updateOn:'blur'}">
                                  </div>
                                  <div class="form-group">
                                      <label>Số điện thoại</label>
                                      <input class="form-control" ng-model="phone" ng-model-options="{debounce: 2000}">
                                  </div>
                                 
                                  <div class="form-group">
                                      <label>Hướng dẫn viên </label>
                                      <div class="radio">
                                          <label><input type="radio" ng-model="gender" value="NAM"> Nam </label>
                                          <label><input type="radio" ng-model="gender" value="Nữ"> Nữ </label>
                                      </div>
                                  </div>
                            
                                  <div class="form-group">
                                    <input type="checkbox" ng-model="agree">
                                    <span>Đồng với các điều khoản</span>
                                </div>
                                  <table class="table py-5">
                                      <tr>
                                          <th>Thông tin ghi nhận</th>
                                          <th>Dữ liệu</th>
                                      </tr>
                                      <tr>
                                          <td>Họ và tên:</td>
                                          <td>{{fullname}}</td>
                                      </tr>
                                      <tr>
                                          <td>Địa chỉ:</td>
                                          <td>{{address}}</td>
                                      </tr>
                                      <tr>
                                          <td>Số điện thoại:</td>
                                          <td>{{phone}}</td>
                                      </tr>
                                      <tr>
                                          <td>Giới tính:</td>
                                          <td>{{gender}}</td>
                                      </tr>
                                  </table>
                                  
                              </div>
                          </div>
                          <div class="card">
                          </div>
                            <div class="row py-3">
                              <div class="col-md-12">
                                <button type="submit" class="btn bg-gradient-dark w-100">Gửi Thông Tin Đặt Tour</button>
                              </div>
                            </div>
                          </div>
                        </form>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
              <div class="row g-4">

                <div class="col-lg-12">
                    <h4 class="mb-3">Tour cực hot <i class="fa-solid fa-fire"></i></h4>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                            <img src="./assets/img/ThaiLAn.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div>
                            <h6 class="mb-2">Tour Bangkok Thái Lan </h6>
                            <div class="d-flex mb-2">
                                <h5 class="text-danger">15.999.000đ</h5>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                            <img src="./assets/img/Mỹ.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div>
                            <h6 class="mb-2">Tour Mỹ</h6>
                            <div class="d-flex mb-2">
                                <h5 class="text-danger">48.999.000đ</h5>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                            <img src="./assets/img/nhat.webp" class="img-fluid rounded" alt="">
                        </div>
                        <div>
                            <h6 class="mb-2">Tour Nhật</h6>
                            <div class="d-flex mb-2">
                                <h5 class="text-danger">27.999.000đ</h5>
                              
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <a href="#" class="btn border border-secondary  py-3 rounded-pill text-primary w-100">Xem ngay</a>
                    </div>
                </div>
            </div> 
                </div>
            </div>
        </div>
    </div>


<section class="my-5 py-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
        <div class="rotating-card-container">
          <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
            <div class="front front-background" style="background-image: url(./assets/img/1.jpg); background-size: cover;">
              <div class="card-body py-7 text-center">
                <i class="material-icons text-white text-4xl my-3">touch_app</i>
                <h3 class="text-white"> Đi du lịch nước ngoài 2024  <br /> ở đâu vui? </h3>
                <p class="text-white opacity-8">Những ý tưởng để bắt đầu kế hoạch du lịch của bạn chỉ cần lưu lại những gì bạn yêu thích và gọi cho chúng tôi chuẩn bị</p>
              </div>
            </div>
            <div class="back back-background" style="background-image: url(./assets/img/2.avif); background-size: cover;">
              <div class="card-body pt-7 text-center">
                <h3 class="text-white">INTERTOUR.VN</h3>
                <p class="text-white opacity-8"> Luôn là bạn đồng hành số 1 với du khách trên mọi nẻo đường du lịch nước ngoài.</p>
                <a href=""  class="btn btn-white btn-sm w-50 mx-auto mt-3">Xem ngay nào</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ms-auto">
        <div class="row justify-content-start">
          <div class="col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-2xl"><i class="fa-solid fa-paper-plane"></i></i>
              <h5 class="font-weight-bolder mt-3">12 Năm kinh nghiệm</h5>
              <p class="pe-5">Với hơn 12 năm kinh nghiệm cùng đội ngũ HDV dày dạn kinh nghiệm.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-2xl"><i class="fa-solid fa-globe"></i></i>
              <h5 class="font-weight-bolder mt-3">270 Điểm đến trên thế giới</h5>
              <p class="pe-3">Dừng chân tại hơn 270 điểm đến trên khắp thế giới và trải nghiệm những kỳ quan của hành tinh với Intertour.vn, nơi mà cuộc phiêu lưu bắt đầu!</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-start mt-5">
          <div class="col-md-6 mt-3">
            <i class="material-icons text-gradient text-primary text-3xl"><i class="fa-solid fa-users-line"></i></i>
            <h5 class="font-weight-bolder mt-3">Phục vụ hơn 120 đơn vị</h5>
            <p class="pe-5">Chúng tôi hân hạnh đồng hành cùng hơn 120 đơn vị du lịch, đáp ứng mọi nhu cầu và mong muốn của khách hàng.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>



<div class="container-fluid gallery subscribe py-5">
  <div class="container">
      <!-- <div class="mx-auto text-center" style="max-width: 900px;">
          <h5 class="subscribe-title px-3">Đăng ký</h5>
          <h1 class="text-white mb-4">Bảng tin</h1>
          <p class="text-white mb-5">Hãy đăng ký ngay để nhận được nhiều ưu đãi và biết thêm nhều thông tin về TravelVN một cách sớm nhất nhé!
          </p>
          <div class="position-relative mx-auto">
              <input class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
              <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Gửi</button>
          </div>
      </div> -->
      <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
        <div class="row g-2">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-1.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-4.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-5.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-6.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-7.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-8.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-9.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                <div class="gallery-item h-100">
                    <img src="./assets/img/gallery-10.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ms-auto">
        <h4 class="mb-1">Cảm ơn bạn rất nhiều!</h4>
        <p class="lead mb-0">Chúng tôi luôn tự hào cung cấp những dịch vụ du lịch hàng đầu dành cho bạn</p>
      </div>
      <div class="col-lg-5 me-lg-auto my-lg-auto text-lg-end mt-5">
        <a href="https://twitter.com/intent/tweet?text=Check%20Material%20UI%20Kit%20made%20by%20%40CreativeTim%20%23webdesign%20%23designsystem%20%23bootstrap5&url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fmaterial-kit" class="btn btn-twitter mb-0 me-2" target="_blank">
          <i class="fab fa-twitter me-1"></i> Tweet
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=/product/material-kit" class="btn btn-facebook mb-0 me-2" target="_blank">
          <i class="fab fa-facebook-square me-1"></i> Share
        </a>
        <a href="https://www.pinterest.com/pin/create/button/?url=/product/material-kit" class="btn btn-pinterest mb-0 me-2" target="_blank">
          <i class="fab fa-pinterest me-1"></i> Pin it
        </a>
      </div>
    </div>
  </div>
</div>
<!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

</div>


  

